.row{ 
     margin-left:3.5rem;
     display: flex;
}
.btn{
    box-shadow: 0px 1px 2px rgb(145, 145, 149);
}
 #SkilisSave{
    margin-left: 4.5rem;
}

/* #cv-form{ */
    /* display: none; */
/* } */

#cv-template{
    display: none;   
}
.myimg{
    border: 1px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.background{
    background-color: rgb(138, 229, 229);
}
.date-style {
    font-weight: bold;
    color:rgb(104, 94, 94); 
    font-size: small;
    float: right;
  }
  .button{
    margin-left: 40px;
  }

  .removeButton3{
    margin-top: 15px;
    margin-left: 65px;
  }
  .removeButton2{
    margin-top: 15px;
    margin-left: 65px;
  }
